<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="manifest" href="manifest.json">
    <title>IDK</title>
    <script src="https://unpkg.com/vue@3"></script>
</head>
<body>
<script type="module">
    // Import the functions you need from the SDKs you need
    import { initializeApp } from "https://www.gstatic.com/firebasejs/9.21.0/firebase-app.js";
    
    import { getAnalytics } from "https://www.gstatic.com/firebasejs/9.21.0/firebase-analytics.js";
    import { getStorage } from "https://www.gstatic.com/firebasejs/9.21.0/firebase-storage.js";
  
    // Your web app's Firebase configuration
    // For Firebase JS SDK v7.20.0 and later, measurementId is optional
    const firebaseConfig = {
      apiKey: "AIzaSyCVOhJEWMLfgI-wcNowIxo2YknhJB5c8LU",
      authDomain: "reserveio.firebaseapp.com",
      projectId: "reserveio",
      storageBucket: "reserveio.appspot.com",
      messagingSenderId: "666994813739",
      appId: "1:666994813739:web:6c2a95c15c639d3e73f36e",
      measurementId: "G-6H6FXQ5QXH"
    };
  
    // Initialize Firebase
    const app = initializeApp(firebaseConfig);
    
    const analytics = getAnalytics(app);
    const storage = getStorage();
  </script>

<div id="vueapp">

{{ message }}

</div>
<h1>TEST</h1>

<!-- Firebase authentication -->

<div id="app1">
  <div class = "container">
      <div class="center">
          <label for="input">Email: </label>
          <input type="text" v-model="email"></input><br>
          <label for="input">Password: </label>
          <input type="text" v-model="password"><br>
          <button @click="form_log_button">Sign in</button>
      </div>
  </div>
</div>

<script type="module">
  import { getAuth, createUserWithEmailAndPassword } from "https://www.gstatic.com/firebasejs/9.21.0/firebase-auth.js";
  const auth = getAuth(app);

  createUserWithEmailAndPassword(auth, email, password)
    .then((userCredential) => {
      // Signed in 
      const user = userCredential.user;
      // ...
      console.log("Sukces");
    })
    .catch((error) => {
      const errorCode = error.code;
      const errorMessage = error.message;
      // ..
    });

</script>



<!-- Import and mount app -->
<script src="js/app.js"></script>
<script src="js/form.js"></script>
<script> 
app.mount('#vueapp')
app1.mount('#vueapp')
</script>
</body>
</html>